<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All tenants</title>
</head>
<body>
    <div>
        <h3>{{ building }}</h3>
        <h4>Location: {{ building.location }}</h4>
        <h4>Units remaining: {{ building.units_count }}</h4>
        <b><small> Posted by {{ building.owner }} on {{ building.created_at }}</small></b>
        <hr>
        <h1>Tenants:</h1>
        {% for tenant in building_tenants %}
        {{ forloop.counter }}) {{ tenant }}<br>
        {% endfor %}
        <br>
    </div>
</body>
</html>