<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <style>
        .home-container{
            display: grid;
            grid-template-columns: 1fr 3fr;
        }
    </style>
    <form method="GET" action="{% url 'home' %}">
        <input type="text" name="q" placeholder="Explore locations...">
    </form>
    {% if request.user.is_authenticated %}
    <button><a href="{% url 'logout' %}">Log out</a></button>
    {% else %}
    <button><a href="{% url 'login' %}">Log In</a></button>
    {% endif %}
    <h1> All buildings: </h1>
    <div class="home-container">
        <div>
            <h3>Browse locations</h3>
            <hr>
            <div>
                <a href="{% url 'home' %}">All</a>
            </div>
            {% for building in buildings %}
            <div>
                <a href="{% url 'home' %}?q={{ building.location }}">{{ building.location }}</a>
            </div>
            {% endfor %}
        </div>
        <div>
            <a href="{% url 'add-building' %}">Add a building</a>
            {% for building in buildings %}
            <div>
                <h3>{{ building }}</h3>
                <h4>Location: {{ building.location }}</h4>
                <h4>Units remaining: {{ building.units_count }}</h4>
                <b><small> Posted by {{ building.owner }} on {{ building.created_at }}</small></b><br><br>
                {% if request.user == building.owner %}
                <a href="{% url 'update-building' building.id %}">Edit</a>
                <a href="{% url 'delete-building' building.id %}">Delete</a>
                {% endif %}
                {% if request.user in building.tenants %}
                <a href="{% url 'review-building' building.id %}">Review</a>
                {% endif %}
                <a href="{% url 'show-reviews' building.id %}">Show all reviews</a>
                <hr>
            </div>
            {% endfor %} 
        </div>
    </div>
</body>
</html>