<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h1> All buildings: </h1>
    <a href="{% url 'add-building' %}">Add a building</a>
    {% for building in buildings %}
    <div>
        <h3>{{ building }}</h3>
        <h4>Created_at: {{ building.created_at }}</h4>
        <h4>Units remaining: {{ building.units_count }}</h4>
        <h4>Owned_by: {{ building.owner}}</h4>
        <a href="{% url 'update-building' building.id %}">Edit</a>
        <hr>
    </div>
    {% endfor %}   
</body>
</html>